{% comment %}
  Renders a standard dropdown style menu for the header.

  Usage:
  {% render 'header-dropdown-menu' %}
{% endcomment %}

<nav class="header__inline-menu">
  <ul class="list-menu list-menu--inline" role="list">
    {%- for link in section.settings.menu.links -%}
      <li>
        {%- if link.links != blank -%}
          <div class="header__menu-details">
            <span
              id="HeaderMenu-{{ link.handle }}"
              class="header__menu-item list-menu__item link focus-inset"
            >
              <span
                {%- if link.child_active %}
                  class="header__active-menu-item"
                {% endif %}
              >
                {{- link.title | escape -}}
              </span>
              {{- 'icon-caret.svg' | inline_asset_content -}}
            </span>
            <ul
              id="HeaderMenu-MenuList-{{ forloop.index }}"
              class="header__submenu list-menu list-menu--disclosure color-{{ section.settings.menu_color_scheme }} gradient caption-large motion-reduce global-settings-popup"
              role="list"
              tabindex="-1"
            >
              {%- comment -%}Category title for first-level dropdown{%- endcomment -%}
              <li class="header__submenu-title">
                {{ link.title | escape }}
              </li>
              {%- for childlink in link.links -%}
                <li>
                  {%- if childlink.links == blank -%}
                    <a
                      id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                      href="{{ childlink.url }}"
                      class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if childlink.current %} list-menu__item--active{% endif %}"
                      {% if childlink.current %}
                        aria-current="page"
                      {% endif %}
                    >
                      {{ childlink.title | escape }}
                    </a>
                  {%- else -%}
                    <div id="Details-HeaderSubMenu-{{ link.handle }}-{{ childlink.handle }}">
                      <span
                        id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                        class="header__menu-item link link--text list-menu__item focus-inset caption-large"
                      >
                        <span>{{ childlink.title | escape }}</span>
                        {{- 'icon-caret.svg' | inline_asset_content -}}
                      </span>
                      <ul
                        id="HeaderMenu-SubMenuList-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                        class="header__submenu list-menu motion-reduce"
                      >
                        {%- comment -%}Category title for second-level dropdown{%- endcomment -%}
                        <li class="header__submenu-title">
                          {{ childlink.title | escape }}
                        </li>
                        {%- for grandchildlink in childlink.links -%}
                          <li>
                            <a
                              id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                              href="{{ grandchildlink.url }}"
                              class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if grandchildlink.current %} list-menu__item--active{% endif %}"
                              {% if grandchildlink.current %}
                                aria-current="page"
                              {% endif %}
                            >
                              {{ grandchildlink.title | escape }}
                            </a>
                          </li>
                        {%- endfor -%}
                      </ul>
                    </div>
                  {%- endif -%}
                </li>
              {%- endfor -%}
            </ul>
          </div>
        {%- else -%}
          <a
            id="HeaderMenu-{{ link.handle }}"
            href="{{ link.url }}"
            class="header__menu-item list-menu__item link link--text focus-inset"
            {% if link.current %}
              aria-current="page"
            {% endif %}
          >
            <span
              {%- if link.current %}
                class="header__active-menu-item"
              {% endif %}
            >
              {{- link.title | escape -}}
            </span>
          </a>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
</nav>
