<h1>{{ title }}</h1>
<product-recommendations
  class="related-products page-width section-{{ section.id }}-padding isolate{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
  data-url="{{ routes.product_recommendations_url }}?limit={{ section.settings.products_to_show }}"
  data-section-id="{{ section.id }}"
  data-product-id="{{ product.id }}"
>
  {% if recommendations.performed and recommendations.products_count > 0 %}
    <h2 class="related-products__heading inline-richtext {{ section.settings.heading_size }}">
      {{ section.settings.heading }}
    </h2>
    <ul
      class="grid product-grid grid--{{ section.settings.columns_desktop }}-col-desktop grid--{{ section.settings.columns_mobile }}-col-tablet-down"
      role="list"
    >
      {% assign skip_card_product_styles = false %}
      {% for recommendation in recommendations.products %}
        <li class="grid__item">
          {% render 'card-product',
            card_product: recommendation,
            media_aspect_ratio: section.settings.image_ratio,
            image_shape: section.settings.image_shape,
            show_secondary_image: section.settings.show_secondary_image,
            show_vendor: section.settings.show_vendor,
            show_rating: section.settings.show_rating,
            skip_styles: skip_card_product_styles
          %}
        </li>
        {%- assign skip_card_product_styles = true -%}
      {% endfor %}
    </ul>
  {% endif %}
</product-recommendations>
